body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: monospace;
  background: #222;
  color: #ccc;
}

#page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#game {
  border-bottom: 3px solid #666;
  padding: 3px;
}
